@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import './nav.scss';
@import './layout.scss';
@import './signup.scss';
@import './users.scss';
@import './singleUser.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
