.layoutChild {
    width: 60%;
    background-color: #DCDCDC;
    margin: 10px auto;
    padding: 25px;
    border-radius: 10px;

    h1 {
        margin: 0;
        margin-bottom: 10px;
        text-decoration: underline;
    }
}