.layoutChild {
    width: 60%;
    background-color: #1e1e1e;
    margin: 10px auto;
    padding: 25px;
    border-radius: 10px;
    color: white;

    h1 {
        margin: 0;
        margin-bottom: 10px;
        text-decoration: underline;
    }
}