.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;

    a {
        font-size: 25px;
        font-weight: 700;
    }

    a:hover {
        color: pink
    }
}